<div id="<%= dom_id friend %> "style="display: flex; flex-wrap: wrap; gap: 20px;">

    <div style="display: flex; flex-direction: column; align-items: center; width: 150px;">
      <strong>First name:</strong>
      <%= friend.first_name %>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center; width: 150px;">
      <strong>Last name:</strong>
      <%= friend.last_name %>
    </div>


    <div style="display: flex; flex-direction: column; align-items: center; width: 150px;">
      <strong>Email:</strong>
      <%= friend.email %>
    </div>


    <div style="display: flex; flex-direction: column; align-items: center; width: 150px;">
      <strong>Phone:</strong>
      <%= friend.phone %>
    </div>


    <div style="display: flex; flex-direction: column; align-items: center; width: 150px;">
      <strong>Twitter:</strong>
      <%= friend.twitter %>
    </div>


</div>